<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>My Plant Diary</title>
</head>
<body>

<h2>Plant are wonderful things!</h2>

<p th:text="${specimen}"/>

<form action="#" th:action="@{/saveSpecimen}" th:object="${specimen}"
      method="GET"><br/>

    <label>Plant: </label><label>
        <input type="text" name="plantId" th:field="*{plantId}"/>
    </label><br/>

    <label>SpecimenID: </label><label>
        <input type="text" name="specimenId" th:field="*{specimenID}"/>
    </label><br/>

    <label>Latitude: </label><label>
        <input type="text" name="latitude" th:field="*{latitude}"/>
    </label><br/>

    <label>Longitude: </label><label>
        <input type="text" name="longitude" th:field="*{longitude}"/>
    </label><br/>

    <label>Description: </label><label>
        <input type="text" name="description" th:field="*{description}"/>
    </label><br/>

    <button name="submit" type="submit" value="0">Submit</button>
</form>

</body>
</html>